.App {
  width: 40%;
  margin: 2em auto;
  background-color: #2C3E50;
  border-radius: 5px;
  color: #fff;
}
.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #374f66;
  text-align: center;
}